@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fdfaf2;
  --foreground: #111827;
  --sidebar-width: 56px;
  --accent-red: #cc6666;
  --dark-gray: #374151;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-red: var(--accent-red);
  --color-dark-gray: var(--dark-gray);
  --spacing-sidebar: var(--sidebar-width);
}

body {
  background: var(--background);
  color: var(--foreground);
}